<select (change)="onChange($event.target.value)">
  <option value="lessThan500">less than 500 calories</option>
  <option value="greaterThan500">greater than 500</option>
  <option value="500">equal to 500</option>
  <option value="none" selected="selected">show all</option>
</select>
<br>
<meal-display *ngFor="#currentMeal of mealList | sort:selectedSort" [meal]="currentMeal"></meal-display>



<!-- (click)="mealClicked(currentClick)" [class.selected]="currentMeal === selectedMeal" [meal]="currentMeal" -->
